.container {
  height: 100vh;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 65, 91, 0.96);
  color: white;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  margin: 0;
}
